#cirgrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    position: relative;
    left: -3vw;
}

.circle {
    border: 5.5vw solid var(--grey);
    border-bottom: 5.5vw solid var(--blue);
    border-radius: 50%;
    width: 22vw;
    height: 22vw;
    margin: 5vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 5%;
}

.circle p {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 10% 5%;
    font-size: 1em;
}

#s1, #s2 {
    border-right: 5.5vw solid var(--blue);
    border-top: 5.5vw solid var(--blue);
}
/*
@media screen and (min-width: 800px) {
    #cirgrid {
        grid-template-columns: auto auto auto;
    }
    .circle {
        border: 4vw solid var(--grey);
        border-bottom: 4vw solid var(--blue);
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        margin: 3vw;
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding: 5%;
    }
    #s1, #s2 {
        border-right: 4vw solid var(--blue);
        border-top: 4vw solid var(--blue);
    }
}
*/
 @media screen and (min-width: 1000px) {
    #cirgrid {
        grid-template-columns: auto auto auto;
    }
    .circle {
        border: 4vw solid var(--grey);
        border-bottom: 4vw solid var(--blue);
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        margin: 3vw;
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding: 5%;
    }
    #s1, #s2 {
        border-right: 4vw solid var(--blue);
        border-top: 4vw solid var(--blue);
    }
    .circle p {
        position: relative;
        text-align: center;
        vertical-align: middle;
        margin-top: 24%;
        padding-top: 4%;
        font-size: 4vw;
    }
} 


.e-list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    justify-content:center;


  }
  
  .e-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 10;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .e-box:last-child {
    border: none;
    align-items: center;
  }
  
  .e-list.cdk-drop-list-dragging .e-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }