<p>educacion works!</p>
<div class="card mat-card"><div id="Titulos"></div>
        <div class="card-titles">
            <h2>Educacion</h2>
            <button type="button" class="btn btn-light">Añadir Educacion</button>
            <button type="button" class="btn btn-light">Hacer un test aptitud</button>
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        <div>
        Insertar mensajes y funciones aquie
        </div>
    </div>