<!-- Content 2 -->
<div class="card mat-card">
  <div class="card-titles">
    <div class="btn-edit" (click)="clickme()">
      <a href="#" class="btn-right"><i class="fas fa-pen"></i></a>
    </div>
    <h2>Acerca de</h2>
    <p>{{ acercade }}</p>
    

    <div class="btn tn-primary" (click)="getPersona()">Obtener alerta de persona 9</div>
  </div>
  <div>
    <div class="btn-edit" (click)="clickme()">
      <a href="#" class="btn-right"><i class="fa fa-x"></i></a>
    </div>
   <div>
    <input type="text" name="acercade" #myNameElem placeholder="Agregar contenido" class= "form-control" size="flex" style="display: none" />
  </div>
    <br />
    <button
      class="btn btn-primary"
      (click)="getValue()"
      #myNameElemb
      style="display: none"
    >
      Aceptar Modificacion
    </button>
    <br />
    <!-- <button class="btn btn-light" type="button" (click)="clickme()">Editar</button>

      input para el texto  tipo texto acercade
      <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none" />-->
  </div>
  <!-- input tipo file archivo....-->
  
    <input
      #myNameElemc
      type="file"
      name="fileupload"
      class="btn btn-primary"
      (change)="cargar_archivo($event)"
      style="display: none"
  />
</div>
