<p>add-project works!</p>
<button
  [ngClass]="{
    btn: true,
    'btn-right': true,
    'btn-success': !mostrarForm,
    'btn-danger': mostrarForm
  }"
  class="btn btn-primary"
  (click)="toogleForm()"
>
  {{ mostrarForm ? "Cancelar" : "Agregar Proyecto" }}
</button>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)"
  *ngIf="mostrarForm"
  class="m-3 mt-5"
>
  <div class="mb-3">
    <label class="form-label" for="enombre">Nombre deL proyecto:</label>
    <input
      class="form-control"
      type="text"
      id="enombre"
      placeholder="Nombre "
      formControlName="nombre"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="edescripcion"
      >Descripcion del proyecto</label
    >
    <input
      class="form-control"
      type="text"
      id="edescripcion"
      placeholder="descripcion_proyecto"
      formControlName="descripcion_proyecto"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="eurl">Url del proyecto: </label>
    <input
      class="form-control"
      type="text"
      id="eurl"
      placeholder="url del proyecto"
      formControlName="url"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="etipo_tecnologia"
      >Tipo de tecnologias utilizadas:
    </label>
    <input
      class="form-control"
      type="text"
      id="etipo_tecnologia"
      placeholder="tipo_tecnologia utilizadas"
      formControlName="tipo_tecnologia"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Agregar Proyecto
  </button>
</form>
