<p>project-item works!</p>

<div  class="project"
[ngClass]="{nombre :project.nombre}"
[ngStyle]="{'color' : 'green'}"
(click)="onToggle(project)">
<h1><a href="#" class="btn-right" text ="Editar" (click)="onEdit(project)"><i class="fas fa-pen"></i>        </a>
    <br>

<fa-icon [icon]="faTimes" [ngStyle]="{'color' : 'red'}" text="Eliminar" (click)="onDelete()"   ></fa-icon><p>{{project.nombre}}</p>
</h1>
<h3>Codigo de proyecto: {{project.id}}</h3>
<h3>Descripcion: {{project.descripcion_proyecto}}</h3>
<h3>Tecnologias Utilizadas: {{project.tipo_tecnologia}}</h3>
<h3>Url de proyecto: {{project.url}}</h3>



</div>
<p>Fin project</p>