<p>skill-item works!</p>

<div
  class="skill"
  [ngClass]="{ nombre: skill.nombre }"
  [ngStyle]="{ color: 'green' }"
  (click)="onToggleS(skill)"
>
<h1 style="text-align:right;"><a href="#" class="btn-right" text ="Editar" (click)="onEditarS(skill)" ><i class="fas fa-pen"></i> </a>
</h1>
<h1 style="text-align:left;"><a href="#"><fa-icon [icon]="faTimes" [ngStyle]="{'color' : 'red'}" text="Eliminar" (click)="onDeleteS()" ></fa-icon> </a>
</h1>
  <div id="cirgrid">
    
    <article id="s1" class="circle">
        <h2 style="text-align:center;">{{skill.nombre}}</h2>
      <circle-progress
        [percent]=skill.valor
        [radius]="100"
        
        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </article>
  </div>
</div>

<!--    Para insertar
    [title]=skill.nombre
        [showTitle]="true"
        [showSubtitle]="false"
        -->
<script>  
    function atexto() {  var n=(skill.valor).toString();
        document.getElementById('demo').innerHTML = n;  }
     </script>  