<h1>Iniciar Session</h1>

<form [formGroup]="form" class="m-5"  (ngSubmit)="onEnviar($event)">
  <div class="mb-3">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': Email?.errors && Email?.touched,  'is-valid': !Email?.errors && Email?.touched      }"
      id="exampleInputEmail1"      aria-describedby="emailHelp"      placeholder="Enter email"
    />
    <div *ngIf="Email?.errors && Email?.touched">
      <p *ngIf="Email?.hasError('required')" class="text-danger">    Es necesario que ingrese Email    </p>
      <p *ngIf="Email?.hasError('email')" class="text-danger">     Ingrese un formato valido      </p>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"  formControlName="password"   class="form-control"  id="exampleInputPassword1"
      placeholder="Password"
      [ngClass]="{ 'is-invalid': Password?.errors && Password?.touched,  'is-valid': !Password?.errors && Password?.touched      }"
    />
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="text-danger">   La constraseña es necesaria y debe ser mayor a 8 caracteres      </p>
    
      <!--
      <p *ngIf="Password?.errors?.minLength" class="text-danger">    La contraseña debe terner 8 caracteres</p>
      -->
    </div>
  </div>

  <div class="mb-1">
    <input
      type="checkbox"
     
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Registrarme</label>
  </div>

  <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

</form>
